<main>

  <section id="secction-banner">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/img/banner1.PNG" class="d-block w-100" alt="Promoção da loja">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner2.PNG" class="d-block w-100" alt="Promoção de games">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner3.PNG" class="d-block w-100" alt="Promoção de estilo da loja">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <h2>Jogos em Promoção</h2>
  <mat-grid-list cols="4" rowHeight="2:4">
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/jogo1.png" alt="Watch Dogs: Legion">
        <mat-card-header>
          <mat-card-title>Watch Dogs: Legion</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Watch Dogs: Legion é um jogo eletrônico de ação-aventura ambientado em um mundo aberto desenvolvido pela Ubisoft Toronto e publicado pela Ubisoft. Foi lançado para Microsoft e é o terceiro título da série Watch Dogs.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$49,90</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/jogo2.png" alt="Infamous Second Son">
        <mat-card-header>
          <mat-card-title>Infamous Second Son</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Infamous Second Son é um jogo eletrônico de ação-aventura produzido pela Sucker Punch Productions e publicado pela Sony Computer Entertainment em exclusivo para a PlayStation 4 em 21 de Março de 2014.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$99,50</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/jogo3.png" alt="Horizon Zero Dawn: Complete Edition">
        <mat-card-header>
          <mat-card-title>Horizon Zero Dawn: Complete Edition</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Horizon Zero Dawn é um jogo eletrônico de RPG de ação pós-apocalíptico em um mundo aberto, desenvolvido pela Guerrilla Games, apresentado em 2015 na conferencia da Sony na feira E3 e lançado em 28 de fevereiro de 2017 para PlayStation 4 e em 7 de agosto de 2020 para o sistema Microsoft Windows.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$99,50</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/jogo4.png" alt="Call of Duty: Warzone 2.0">
        <mat-card-header>
          <mat-card-title>Call of Duty: Warzone 2.0</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Call of Duty: Warzone 2.0 é um jogo eletrônico de battle royale grauito de PlayStation 4, PlayStation 5, Windows, Xbox One e Xbox Series X/S. É uma sequência de Call of Duty: Warzone de 2020. O jogo faz parte do Call of Duty: Modern Warfare II de 2022
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$300,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</main>
